@import '../../palette';

@media screen and (min-width: 1025px) {
    footer{
        padding-top: 47px;
        padding-bottom: 59px;

        .logo {
            margin-bottom: 43px;

            .img {
                width: 27px;
    
                img {
                    height: 41px;
                }
            }
    
            h1 {
                font-size: 36px;
                margin-top: 5px;
            }
        }

        .be {
            padding-top: 1px;
        }

        .fb {
            padding-left: 3px;
        }

        .twitter {
            padding-left: 2px;
        }

        .mail {
            padding-left: 2px;
        }

        .logos {
            margin-bottom: 49px;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    footer {
    }
}