@import '../../palette';

#portfolio {
    width: 100%;
    align-items: center;

    .header {
        h2 {
            color: $text-color-dark;
            font-weight: 600;
            text-align: center;
        }

        hr {
            background-color: $hr-color;
        }
    }

    .main {
        p {
            color: $focus-color;
            font-weight: 600;
        }

        h3 {
            font-weight: 600;
            color: $text-color;
        }

        .item {
            width: 100%;
            height: 100%;

            background-color: black;
        }

        .bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .dark-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: black;
            opacity: 60%;
            display: none;
        }

        .button{
            background-color: transparent;
            border: 2px solid $focus-color;
            border-radius: 50%;
        }

        .button:hover {
            background-color: $focus-color;
            border: none;
        }

        .buttons, .overlay{
            display: none;
            position: absolute;
            opacity: 0%;
        }

        .overlay{
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: $overlay-color;
        }

        .item:hover .buttons{
            display: flex;
            opacity: 100%;
        }

        .item:hover .overlay {
            display: block;
            opacity: 100%;
        }

        .item:hover .bg {
            filter: blur(5px);
        }
        
        .item:hover .dark-overlay {
            display: block;
        }
    }

    $extension: (1:'png', 2:'png', 3:'jpg', 4:'jpg', 5:'png', 6:'jpg', 7:'png');
    @for $i from 1 through 7 {
        .main .item:nth-of-type(#{$i}) .bg {
            background-image: url('../images/portfolio/wallpaper' + $i + '.' + map-get($extension , $i));
            background-size: cover;
            background-position: center center;
        }
    }
}