@import '../../palette';

@media screen and (min-width: 1025px) {
    #contact {
        grid-template-columns: 1fr 945px 1fr;
        padding-top: 93px;
        padding-bottom: 122px;
        
        .header {
            margin-bottom: 90px;

            h2 {
                font-size: 31px;
                margin-bottom: 11px;
            }

            img {
                width: 16px;
                height: 16px;
    
                margin: 0 10px;
            }

            hr {
                width: 37px;
                height: 1px;
            }
        }

        .info .item:nth-of-type(1) div.img {
            height: 34px;
            margin-bottom: 18px;
        }

        .info .item:nth-of-type(2) div.img {
            height: 22px;
            margin-top: 3px;
            margin-bottom: 25px;
        }

        .info .item:nth-of-type(3) {
            right: 15px;

            div.img {
                height: 32px;
                margin-bottom: 20px;
            }
        }

        .info {
            $padding: 43px;
            padding-left: $padding;
            padding-right: $padding;
            margin-bottom: 80px;
            
            .item {
                width: 229px;
            }
            
            p {
                font-size: 15px;
                letter-spacing: 0.4px;
                line-height: 24px;
                word-spacing: 1px;
            }
        }
    
        form {
            input {
                height: 46px;
                margin-bottom: 14px;
            }

            textarea {
                height: 171px;
                $padtp: 16px;
                padding-top: $padtp;
                padding-bottom: $padtp;
                margin-bottom: 17px;
            }

            input, textarea {
                width: 100%;
                padding-left: 9px;
            }

            #name, #mail {
                width: 464px;
            }

            button {
                width: 160px;
                height: 42px;

                font-size: 13px;
            }
        }

        // transition: all 1s;
        
        * {
            // transition: all 1s;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #services {
    }
}