@import '../../palette';

header {
    background-color: $header-color;
    width: 100%;
    align-items: center;

    .logo {
        .img {
            height: 100%;

            img {
                height: 100%;
            }
        }

        h1 {
            color: $text-color;
            font-weight: 300;
            font-size: 1em;
        }
    }

    nav {
        ul {
            width: 100%;
        }

        a {
            color: $text-color;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            text-decoration: none;
        }
    }

    .burger {
        background-color: $focus-color;

        .inner {
            background-color: transparent;
            border: 1px solid $inner-border-color;
        }
    }
}