@import '../../palette';

@media screen and (min-width: 1025px) {
    header {
        grid-template-columns: minmax(25px, 1fr) minmax(970px, 1170px) minmax(25px, 1fr);
        
        .logo {
            width: 121px;
            margin-bottom: 5px;

            h1 {
                font-size: 36px;
                margin-top: 12px;
                letter-spacing: 0.01em;
            }
        }        

        nav {
            width: 740px;
            margin-bottom: 2px;

            a {
                font-size: 14px;
            }
            opacity: 1;
            transition-property: width, margin-bottom, font-size, opacity;
            transition-delay: 0s, 0s, 0s, 1s;
        }

        .burger {
            pointer-events: none;
            opacity: 0;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    header{
        left: 0;
        height: 106px;

        .logo {
            height: 45px;
        }
    }
}