@import '../../palette';

@media screen and (max-width: 767px){
    header {
        height: 21vw;
        max-height: 109px;
        min-height: 67.5px;
        grid-template-columns: 20px 1fr 20px;
        
        .logo {
            width: auto;
            height: 31px;
            margin-bottom: 5px;

            h1 {
                font-size: 27px;
                margin-top: 10px;
                letter-spacing: 0.01em;
            }
        }

        .burger {
            width: 17.5%;
            height: 50%;
            max-width: 56px;
            max-height: 39px;

            .inner {
                width: calc(100% - 4px);
                height: calc(100% - 4px);
            }

            img {
                width: 50%;
                max-width: 30px;
                height: 12px;
            }

            opacity: 1;
            transition-property: width, height, opacity;
            transition-delay: 0s, 0s, 1s;
        }

        nav {
            pointer-events: none;
            opacity: 0;
        }
    }
}