$header-color: #0E0E0E;
$footer-color: #111111;

$primary-color-v1: #292929;
$primary-color-v2: #1E1E1E;
$secondary-color: #FFFFFF;
$focus-color: #3AB6B2;
$inner-border-color: #FFFFFF;
$hr-color: #D3D3D3;
$item-bg-color: #3B3B3B;
$overlay-color: #0B0B0B;

$text-color: #FFFFFF;
$text-color-v2: #FFFEFE;
$text-color-dark: #323232;
$text-color-dark-v2: #333333;
$paragraph-color: #606060;
$text-color-light: #6A6A6A;
$placeholder-color: #7C7C7C;

$input-border-color: #D4D4D4;
$icon-bg-color: #252525;

$mail-color: #E02F2F;
$twitter-color: #55ACEE;
$fb-color: #46629E;
$be-color: #3498DB;
$deviantart-color: #54675A;
$flickr-color: #FE0382;